.login-container {
  margin: 32px;
  min-height: 50vh;
}

#login-form {
  width: 450px;
  margin-right: 150px;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#root nav {
  flex: 0 1 auto;
}

#root .content {
  flex: 1 1 auto;
}
