.outer {
    position:absolute;
    top:60px;
    left:100px;
}

.table1 {
    position:absolute;
    width:350px;
    padding-top:10px;
}

.table2 {
    position:relative;
    left:400px;
    top: 55px;
    width:300px;
    padding-left:100px;
}

.table1Shell{
    height:500px;
   
}

.table2Shell{
    height: 450px;
    overflow-y:auto;
}

.button {
    position:relative;
    top: 55px;
    text-align: center;
}

.alerts{
    padding: 5%;
}