#write-container {
    max-width: 600px;
    margin-top: 32px;
    text-align: center;
    padding: 0;
}

#write-review-form {
    margin-top: 16px;
}

#write-btn-back {
    display: table-cell;
    white-space: nowrap;
}

#write-btn-submit {
    display: table-cell;
    width: 100%;
}

#alert-container-top {
    text-align: left;
}

#alert-container-bottom {
    text-align: left;
    margin-top: 32px;
    margin-bottom: 32px;
}
